body {
  background: #ffe8d4;
  color: aliceblue;
  font-family: "Pragati Narrow", sans-serif;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: #ffca65;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 2.5rem;
}
p {
  cursor: pointer;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-left: 4px;
}

.todo-row {
  color: rgb(162, 162, 162);
  background: #ffe8d4;
  border: #cbddfc solid 0.2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  padding-left: 5px;
  height: 50px;
}

.complete {
  opacity: 0.4;
}

::placeholder {
  color: rgb(162, 162, 162);
}

.todo-input {
  margin-bottom: 10px;
  padding-left: 10px;
  color: rgb(131, 131, 131);
  height: 40px;
  width: 50%;
  border: none;
  outline: none;
  border: #cac7e9 solid 2px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #eeeeee;
}

.add-button {
  cursor: pointer;
  color: rgb(131, 131, 131);
  height: 44px;
  width: 64px;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #cac7e9;
  box-shadow: 0 0 4px 1px rgba(230, 230, 230, 0.5);
}

.disabled {
  opacity: 0.6;
  box-shadow: none;
}

.edit-button {
  width: 50px;
  cursor: pointer;
  height: 50px;
  background: #66a3ff;
  border: none;
  color: rgb(213, 211, 211);
}

.delete-button {
  width: 50px;
  cursor: pointer;
  height: 50px;
  background: #d05353;
  border: none;
  color: rgb(213, 211, 211);
}
